/*ここから書き始める*/
h1{
	color:blue;
}
.btn{
	text-align:center;
}
span{
	padding:8px 24px;
	background-color:rgb(200,200,200);
	box-shadow:0 7px #646464;
	color:white;
	opacity:0.8;
	display:inline-block;
}
span:hover{
	cursor:pointer;
	opacity:1;
}
span:active{
	position:relative;
	box-shadow:none;
	top:7px;
}
